.full_height{
    height: 100%;
}

.no_height{
    height: 0px;
}

#form_login {
    margin: auto;
    text-align: center;
}

#login_header {
    display: block;
    text-align: center;
}

#login_buttons{
    justify-content: center;
}


#searchbar{ 
    margin-left: 32%; 
    padding:15px; 
    border-radius: 10px; 
  } 

  input[type=text] { 
     width: 30%; 
     -webkit-transition: width 0.15s ease-in-out; 
     transition: width 0.15s ease-in-out; 
  } 

  /* When the input field gets focus, 
       change its width to 100% */
  input[type=text]:focus { 
    width: 50%; 
  } 

 #list{ 
   font-size:  1.0em; 
   margin-left: 90px; 
  } 





#main-search-bar{
    border-radius: 50px; 
     /* When the input field gets focus, 
          change its width to 100% */
 }





 